{{define "title"}}Edit{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<!--<form method="post" action="{{$.CurrentURI}}?_method=patch"> -->
	<form method="post" action="{{.BaseURI}}mobile_ip/edit/1?_method=patch">
		
		<div class="form-group">
			<label for="ip_address">IP Address</label>
			<div><input type="text" class="form-control" id="ip_address" name="ip_address" size="10" placeholder="IP Address" /></input></div>
		</div>
		<div class="form-group">
			<label for="sync_code">Sync Code</label>
			<div><input type="text" class="form-control" id="sync_code" name="sync_code" size="10" placeholder="Sync Code" /></input></div>
		</div>
		<button type="submit" class="btn btn-success" title="Sync Messages" />
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sync
		</button>
		
		<a title="Back" class="btn btn-default" role="button" href="{{.BaseURI}}message">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>
		
		<input type="hidden" name="_token" value="{{$.token}}">
	</form>
	
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}