{{define "title"}}Messages{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>Messages</h1>
		<h3><b>{{.balance.Body}}</b></h3>
	</div>
	<p>
		<a title="Add" class="btn btn-primary" role="button" href="{{$.CurrentURI}}">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Refresh
		</a>
	</p>
	<!--
	<p>
		<a title="Add" class="btn btn-primary" role="button" href="{{.BaseURI}}mobile_ip/edit/1">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Set IP
		</a>
	</p>
	-->


	<table class="table"><thead>
    	<tr>
        	<th>ID</th> 
        	<th>Address</th>
        	<th>Msg_Box</th>
        	<th>Message</th>
        	<th>Synced</th>
        <!--	<th>Body</th>
        	<th>Msg_Box</th> -->
    	</tr>
    </thead>
    <tbody>
    <tr>
		<td></td><td style="text-align:right"></td>
		<td><b></b></td>
		<td></td>
		</tr>
	{{range $n := .items}}
		<tr>
		<td>{{.Id}}</td>
		<td>{{.Address.String}}</td>
		<td>{{.Msg_Box.String}}</td>
		<td>{{.Body.String}}</td>
		<td>{{.Synced.String}}</td>
		</tr>
	{{end}}
	</tbody>
	</table>
	<!--<p>IP Address: {{.ip_address}}</p> -->
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}