{{define "title"}}About Load Manna{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p></p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}